<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8"> 
	<title>Top Level - Responsive Web Template</title>
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
	<link href='icons/css/fontello.css' rel='stylesheet' type='text/css'>
	<!-- <link rel="stylesheet" href="css/preloader.css"> -->
	<!-- <link rel="stylesheet" href="css/style.css">


	<link rel="stylesheet" href="css/responsive.css"> -->

	<%=stylesheet_link_tag "style.css"%>
	<%=stylesheet_link_tag "responsive.css"%>

	<!-- <link rel="stylesheet" href="galaxy/css/galaxy.css">
	<link rel="stylesheet" href="css/jquery.mCustomScrollbar.css"> -->
</head>
<body>
	<!-- Site Header -->
	<header id="header">
		<h1 id="sitename">
<!-- 			<img src="images/logo.png" alt="">
 -->			<%= image_tag("logo.png", alt: "Logo", class: "img-responsive")%>
		</h1>
		<h4 id="tagline">Open Source Ad Tech</h4>
	</header>
	<div id="main">
		<div id="countdown_block">
			<!-- <h3>Discover Taris</h3> -->
			<a href="http://docs.tarisadsapi.apiary.io"> <h3>Documentation</h3> </a>
			<a href="http://www.github.com/jarvis11/taris_source"> <h3>Source</h3> </a>
			<!-- <div id="countdown"></div> -->
		</div>
		
		<a href="#" id="show_content"><span class="stripe"></span></a>	
		
		<section id="content">
			<span class="close_content"></span>
			<div id="content_inner">
				<ul id="mainmenu">
					<li><a href="#">About</a></li>
					<li><a href="#">README</a></li>
					<li><a href="#">License</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<div id="tab_contents">				
					<ul class='slides'>
						
						<!-- About Tab -->
						
						<li class="content_tab_item" id="about">
							<div class="content_tab_inner">
								<h2>About</h2>
								<p>Taris is an open source project aimed at helping ad tech developers create simple, efficient, and effective BLE (Bluetooth Low Energy / Beacon) marketing solutions. We work to prvide the groundwork for such solutions, enabling firms to focus on innovation and personalization, opposed to underlying communications.</p>
								<p>Our platform contains a unique method to register BLE devices, allowing developers to leverage tags to target large groups of BLE devices at once. With Taris, one can target consumers based on their microlocation, their real time actions, or their demographics.</p>
								<p>Taris is released under the MIT license, giving developers free reign to not only innovate, but monetize. Use Taris to create innovative mediabuying solutions for advertisers and their brand partners, from self-serve platforms to fully functional RTB exchanges.</p>
							</div>
						</li>
						
						<!-- /About Tab -->	
						
						<!-- Services Tab -->
						
						<li class="content_tab_item" id="services">
							<div class="content_tab_inner">
								<h2>README</h2>
								
								<p>Taris is built on the Node.js platform, and is optimized to work directly with MongoDB. It is important that you have fundamental knowledge of both these platforms before diving in to Taris.</p>
							
								<p>All documentation is found within our API, powered by Apiary. Updates will routinely be posted within the API, not on this site. With popular demand, we may start pushing notifications through Twitter for ease of access. If this is a service you request, please let us know.</p>
							
								<p>Source code is hosted on Github. Code submits can either be made through email, or by contacting us directly on Github. All submits become property of Taris once approved, but you may modify the platform and use it in a commercial environment as long as it follows the terms found in our license.</p>
							</div>													
						</li>													
																											
						<!-- /Services Tab -->							
						
						<!-- Subscribe Tab -->	
						
						<li class="content_tab_item" id="subscribe">
							<div class="content_tab_inner">
								<h2>License</h2>
								<p>Copyright (c) <2014></p>
								<p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>
								<p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
								<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
								<p>Any code submits accepted by Taris belong to Taris, and Taris only. Developers relinquish their rights to their code once submitted.</p>
							
								
							</div>
						</li>
						
						<!-- /Subscribe Tab -->
						
						<!-- Contacts Tab -->	
						
						<li class="content_tab_item" id="contacts">
						
							<div class="content_tab_inner">
								<h2>Contact</h2>
								
								<ul id="contacts_list">
									<li><i class="fa fa-envelope"></i>hello@taristech.com</li>
								</ul>
								<h3>Get In Touch</h3>
								<p> Please submit code through email or ping us on Github. We will do our best to push submits through quickly. </p>
								<p> At this moment Taris does not offer any support, but if you do have any questions feel free to drop us a note and we will do our best to help. </p>
							</div>
						</li>
						
						<!-- /Contacts Tab -->
						
					</ul>
				</div>			
			</div>
		</section>
		
		<!-- Site Footer -->
		<footer id="footer">
			
		</footer>	
	</div>
	<div id="singlecolor_bg" style=" background: #221f21; "><!-- Set Here Any Background Color --></div>
	<!--<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/jquery.plugin.min.js"></script>
	<script src="js/jquery.countdown.min.js"></script>
	<script src="js/jquery.flexslider-min.js"></script>
	<script src="js/jquery.mCustomScrollbar.min.js"></script>
	<script src="js/_front.js"></script>-->
</body>
</html>